body
  font-family: "Museo Sans light"
  font-weight: 300
  background-color: $light-bgc
  margin: auto
.container
  width: 1170px
  margin: auto
h1
  margin: 0
.button 
  background-color: $main-color
  font-size: 13px
  +bold
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  padding: 75px 0 0 0



