@media (max-width: 992px)
  .container
    width: 95%
    margin: 0px 10px
    
  .hero
    &-block
      display: flex
      flex-wrap: wrap
      flex-direction: column
    &-text
      display: flex
      flex-direction: column
      &__title
        padding-top: 20px
      &__subtitle
        padding: 30px 0
        font-size: 20px
        +bold
        line-height: 1
        color: $text-color
      
      
    &-image
      &__image
         margin: 0
    
    &-list
      margin: 0
      padding: 0
    
      &__item
        list-style-type: none
        display: flex
        align-items: center
        margin: 30px 0

        &:last-child
          margin-bottom: 30px
      &__image
        display: flex
        align-items: center
        justify-content: center
        flex-basis: $small-height
        height: $small-height
        border: 2px solid $main-color
        border-radius: 50%
        flex-grow: 0
      
      
      &__text
        display: flex
        align-items: center
        flex-basis: 70%
        padding-left: 31px
        font-size: 14px
        font-weight: 400
        height: $small-height
        line-height: 1.6
    