@media (max-width: 768px)
  .container
    width: 90%
    margin: 0px 10px 
  .offer
    &-text
      width: 100%
    &-form
      width: 100%
      display: flex
      flex-direction: column 
      &__name
        width: 100%
        margin: 10px 0
        
      &__phone
        width: 100%
        margin: 10px 0
        margin-right: 10px
    .button
      width: 100%
      margin: 10px 0 
      padding: 25px
    &-call
      flex-direction: column
      &__callback
        width: 110%
        
    &-usercall
      flex-direction: row
      padding: 0
      &__text
        padding: unset
        margin-right: 10px

  .portfolio
    &__tite
      font-size: 30px
      width: 500px
  .price
    text-align: center
    
  .brif
    &__form
      margin-left: 50px
    .form
      &-block
        &__input
          display: block
          width: 100%
  .footer
    .contacts
      &-space
        flex-basis: 60%
      &-block
        flex-basis: 40%
         