@media (max-width: 567px)
  .section
    padding-top: 40px 
    &-title
      max-width: 500px
      width: 90%
  .container
    width: 95%
    margin: 0px 10px
  .navbar
    &__contacts
      display: none
  .hero
    &-block
      max-width: 90%
    &-image
      &__image
        max-width: 90%
  .offer   
    background: $light-bgc
    padding: 0
    margin: 0
    &-block
      width: 100%
    &-text
      width: 95%
      &__title
        padding-top: 50px
        padding-left: 3px
        margin: 0
        font-size: 18px
        +large
        line-height: initial
      &__subtitle
        font-size: 14px
        padding: 10px 0
    &-form
      &_padding
        padding-top: 15px
      &__name
        width: 97%
        padding: 32px 22px
        margin: 2px 0
        
      &__phone
        width: 97%
        padding: 32px 22px
        margin: 6px 0
    .button
      width: 97%
      padding: 25px 
      margin: 3px 0
    &-submit
      width: 95%
              
      &__button
        width: 270px
        display: inherit
        font-size: 14px
    &-call
      &__callback
        padding: 20px 7px 0 7px
        width: 90%  
    &-usercall
      &__text
        padding-top: 20px
      &__phone
        padding-top: 20px
  .portfolio
    background: $darck-bgc
    &__tite
      font-size: 18px
      max-width: 500px
      width: 90%
  .price
    img
      width: 320px
    .wow 
      width: 320px
    &-image
      &__item
        margin: auto
        margin-bottom: 30px
        max-width: 320px
      &__image
        max-width: 320px
    &__title
      padding: unset
      font-size: 18px
    &__subtitle
      padding: 10px 0
      font-size: 14px
      

  .brif
    background-image: url('../img/brif-bg.jpg'), url('../img/brif-bg-img.jpg')
    background-position: left top, left bottom
    background-size: 100% 50%, 100% 50%
    background-repeat: no-repeat, no-repeat
    &-block
      flex-direction: column
    .interview
      padding-right: 10px
      padding-bottom: 82px
      &__title
        padding: 6px 0
        font-size: 18px
      &__subtitle
        font-size: 14px
        margin: 0
    &__form
      margin: auto
  .form

    &-block 
      &__input
        width: inherit  
        
  .footer
    position: relative
  .map
    width: 100%
    position: absolute
    top: 450px
    left: 0
    
  .contacts
    background: $light-bgc

    &-space  
      flex-basis: 0%
    &-block
      flex-basis: 90%
    &__title
      padding: unset
      font-size: 18px

@media (max-width: 405px)
  .offer   
    &-call
      &__callback
        width: 70%
  