@media (max-width: 567px)
  .container
    width: 95%
    margin: 0px 10px
  .navbar
    &__contacts
      display: none
  .hero
    &-block
      max-width: 90%
    &-image
      &__image
        max-width: 90%
  .offer   
    background: $light-bgc
    padding: 0
    margin: 0
    &-block
      width: 100%
    &-text
      width: 95%
      &__title
        padding-top: 50px
        padding-left: 3px
        margin: 0
        font-size: 18px
        +large
        line-height: initial
      &__subtitle
        font-size: 14px
        padding: 10px 0
    &-form
      &_padding
        padding-top: 15px
      &__name
        width: 97%
        padding: 32px 22px
        margin: 2px 0
        
      &__phone
        width: 97%
        padding: 32px 22px
        margin: 6px 0
    .button
      padding: 25px 
      margin: 3px 0
    &-submit
      width: 95%
              
      &__button
        width: 270px
        display: inherit
        font-size: 14px
    &-call
      &__callback
        padding: 20px 7px 0 7px  
    &-usercall
      &__text
        padding-top: 20px
      &__phone
        padding-top: 20px
@media (max-width: 405px)
  .offer   
    &-call
      &__callback
        width: 70%