main
  background-color: $dark-bgc
.hero-block
  padding-top: 45px
  display: flex
  justify-content: space-between
.hero-text
  &__title
    font-size: 41px
    font-weight: 600
    line-height: 55px
    color: $text-color
  &__subtitle
    font-size: 20px
    font-weight: 600
    line-height: 65px
    color: $text-color
.hero-image
  &__image
    margin-right: -40px
    
