.navbar
  padding: 8px 0px
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex
    
  &__contacts
    display: flex
    flex-direction: column
    justify-content: center
    text-align: right
    
  &__address
    font-size: 13px
    font-weight: 400 
    color: $text-color
  &__phone
    font-size: 20px
    font-weight: 400
    text-decoration: none
    color: $text-color
  &__button
    padding: 18px 30px
    margin: 30px
  
@media (max-width: 680px)
  .navbar
    &__contacts
      display: none

@media (max-width: 320px)
  .navbar
    &__button
      padding: 15px 26px
    &__contacts
      display: none

  
  
