.offer
  background-image: url("../img/bg-image.png")
  background-repeat: no-repeat
  background-position: 50%
  background-color: $light-bgc
  &-block
    width: 50%
  &-text
    width: 60%
    display: flex
    flex-direction: column
    
    &__title
      margin: 0
      padding: 5px 0 0 5px
      font-size: 24px
      +bold
      line-height: 36px
      color: $text-color
      
    &__subtitle
      width: 80% 
      padding-top: 1.5em

      font-size: 16px
      +reg        
      color: $text-color
      

  &-form
    &__
    &__