.portfolio
  background: $darck-bgc url('../img/portfolio-fon.jpg') repeat-y
  background-position: center left
  background-size: 50%
  &__tite
    font-size: 30px
    +bold 
    line-height: 45px
    padding-bottom: 100px
    width: 700px
  .slider__img
    margin: auto
  .arrow
    display: flex
    justify-content: center
    &-left
      padding: 10px
    &-right
      padding: 10px  
